# Ignore everything
*

# Whitelist directories
!*/
# Whitelist git config
!.gitignore
!.gitattributes
# Whitelist toolchain configuration files
!.clang-format
!.clang-tidy
!.clangd
!.cppcheck
# Whitelist allowed extensions
# > Code
!*.h
!*.hpp
!*.c
!*.cpp
# > Scripts
!*.txt
!*.sh
# > Docs
!*.md
!*.svg
!*.jpg
!*.png
# > Data
!*.json
# > Website
!*.yml

# Ignore build & temporary directories regardless of their contents
.cache/
.cache-cppcheck/
build/
temp/
snippets/